body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-content h1 {
    margin: 0;
}

.header-content img.logo {
    max-height: 50px;
    height: auto;
    width: auto;
    margin-left:25; 
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav {
    display: flex;
}

main {
    padding: 2rem;
}

.movie {
    background-color: #fff;
    border: 1px solid #ddd;
    text-align: center;
}

.movie img {
    max-width: 100%;
    height: auto;
}

.movie h3 {
    margin-top: 0.5rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
