body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-content h1 {
    margin: 0;
}

.header-content img.logo {
    max-height:30px;
    margin:15px;
    height: auto;
    width: auto;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav {
    display: flex;
}

.card-rate {
    font-size: 5px;
    align-items: center;
    margin: 7.5px;
}

.star {
    font-size: 17px;
    position: relative;
    top: -1px;
}

main {
    padding: 2rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
